################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/progetto.slnx/FileContentIndex/baf856b2-a28a-4105-ab0e-8e5339d868a7.vsidx

